@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes animacao {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}   

.animation {
    animation: animacao 1s ease-out;
}